*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Lucida Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body,
section,
div,
form {
  border: none;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 1em auto;
  max-width: 50%;
}
canvas {
  background-color: #eee;
  border: solid 1px #999;
  cursor: pointer;
  display: block;
  /* height: 32rem; */
  margin: 1rem auto;
  user-select: none;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -moz-user-focus: none !important;
  padding: 0;
  /* width: 40rem; */
}

img {
  height: auto;
  max-width: 100%;
}
.score {
  margin: 1rem auto;
  max-width: 32rem;
  font: monospace 2rem;
  font-weight: bold;
}
